﻿<!DOCTYPE html>
<html data-ng-app="AngularSPA">
<head>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>AngularSPA</title>
    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="content/css/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="content/css/loading-bar.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation" data-ng-controller="indexController">
    <div class="container">
        <div class="navbar-header">
            <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <a class="navbar-brand" href="#/">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/programmers">Programmers</a></li>
                <li><a href="#/companies">Companies</a></li>
                <li><a href="#/angular">AngularJS</a></li>
                <li><a href="#/dotnet">.NET Framework</a></li>
            </ul>
        </div>
    </div>
</div>
    <div class="jumbotron">
        <div class="container">
            <div class="page-header text-center">
                <h1>Angular SPA</h1>
            </div>
            <p>This is a test single page application implemented using AngularJS on the frontend and using .Net HTTPListener on the backend.</p>
        </div>
    </div>
    <div class="container">
        <div data-ng-view="">
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-muted">Created by Evgeny Agapov. Email: <a target="_blank" href="mailto:anahor0191@gmail.com">anahor0191@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/loading-bar.min.js"></script>
    <script src="scripts/ui-bootstrap.min.js"></script>
    <script src="scripts/ui-bootstrap-tpls.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/services/programmersService.js"></script>
    <script src="app/services/companiesService.js"></script>
    <script src="app/controllers/indexController.js"></script>
    <script src="app/controllers/homeController.js"></script>
    <script src="app/controllers/programmerController.js"></script>
    <script src="app/controllers/programmersListController.js"></script>
    <script src="app/controllers/companyController.js"></script>
    <script src="app/controllers/companiesListController.js"></script>
</body>
</html>