﻿html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding-top: 40px;
    xpadding-bottom: 10px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.text-muted {
    margin: 20px 0;
}

.home-static-content-container {
    cursor: pointer;
    text-align: center;
}

.home-static-content-img {
    height: 75px;
}

.list-content-img {
    max-height: 180px;
    max-width: 180px;
}

.list-content-container {
    text-align: center;
}

.list-undotted {
    list-style-type: none;
}

.list-item-tappable {
    cursor: pointer;
}

.programmer-content-img {
    max-height: 400px;
    max-width: 400px;
}