﻿<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8 well list-content-container">
        <img class="programmer-content-img" src="../../content/img/angularlogo.png" />
    </div>
    <div class="col-md-2">&nbsp;</div>
</div>
<h1>AngularJS</h1>
<blockquote class="blockquote-reverse">
    <p>From Wikipedia, the free encyclopedia</p>
</blockquote>
<p>
    AngularJS (commonly referred to as "Angular" or "Angular.js") is an open-source web application framework mainly maintained by Google and by a community of individual developers and corporations to address many of the challenges encountered in developing single-page applications. It aims to simplify both the development and the testing of such applications by providing a framework for client-side model–view–controller (MVC) and model–view–viewmodel (MVVM) architectures, along with components commonly used in rich Internet applications.
    The AngularJS library works by first reading the HTML page, which has embedded into it additional custom tag attributes. Angular interprets those attributes as directives to bind input or output parts of the page to a model that is represented by standard JavaScript variables. The values of those JavaScript variables can be manually set within the code, or retrieved from static or dynamic JSON resources.
    According to JavaScript analytics service Libscore, AngularJS is used on the websites of NBC, Walgreens, Intel, Sprint, ABC News, and approximately 8,400 other sites out of 1 million tested in July 2015.[1]
    AngularJS is the frontend part of the MEAN stack, together with Node.js runtime, Express.js backend framework and MongoDB database.
</p>
<br />
<br />