﻿<h2>Largest software companies</h2>
<p>The Forbes Global 2000 is an annual ranking of the top 2000 public companies in the world by Forbes magazine, based on a mix of four metrics: sales, profit, assets and market value. The Forbes list for software companies excludes manufacturers, consumer electronics companies, conglomerates, IT consultancy, and computer services. The top 5 companies in the 2013 list for the "Software & Programming" industry are:</p>
<br />
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>Organisation</th>
            <th>Revenue</th>
            <th>FY</th>
            <th>Market cap</th>
            <th>Headquarters</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="company in companies" class="list-item-tappable" data-ng-click="go('/company/' + company.Id)">
            <td>{{ company.Id }}</td>
            <td>{{ company.Name }}</td>
            <td>{{ company.Revenue }}</td>
            <td>{{ company.FY }}</td>
            <td>{{ company.MarketCap }}</td>
            <td>{{ company.Headquarters }}</td>
        </tr>
    </tbody>
</table>
<br />
<br />