﻿<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8 well list-content-container">
        <img class="programmer-content-img" src="../../content/img/{{company.ImageUrl}}" />
    </div>
    <div class="col-md-2">&nbsp;</div>
</div>
<h1>{{ company.Name }}</h1>
<blockquote class="blockquote-reverse">
    <p>From Wikipedia, the free encyclopedia</p>
</blockquote>
<p>{{ company.Description }}</p>
<br />
<br />