﻿<div class="row">
    <h1>Dynamic content</h1>
    <h3>This site contains a dynamic content generated on the server side. You can access dynamic content by clicking buttons in this section.</h3>
    <div class="row">
        <div class="col-md-6">
            <h2>Top 10 greatest programmers</h2>
            <p>A programmer is a person who can create and modify computer programs. No matter what type of programmer one may be, each and every contributes something to the society, no matter how trivial. Yet, there are those few who have contributed beyond what a single programmer usually does in an entire lifetime. These programmers are pioneers in their respective areas and have each contributed something that has completely changed the way human’s access information and media. So without further ado, here we present the 10 greatest programmers of all time:</p>
            <a class="btn btn-info" href="#/programmers" role="button">Go &raquo;</a>
        </div>
        <div class="col-md-6">
            <h2>Largest software companies</h2>
            <p>The Forbes Global 2000 is an annual ranking of the top 2000 public companies in the world by Forbes magazine, based on a mix of four metrics: sales, profit, assets and market value. The Forbes list for software companies excludes manufacturers, consumer electronics companies, conglomerates, IT consultancy, and computer services. The top 5 companies in the 2013 list for the "Software & Programming" industry are:</p>
            <a class="btn btn-info" href="#/companies" role="button">Go &raquo;</a>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <h1>Static content</h1>
    <h2>To access a static content click any article in this section.</h2>
    <p>
        <div class="well home-static-content-container" data-ng-click="go('/angular')">
            <img class="home-static-content-img" src="../../content/img/angularlogo.png"/>
        </div>
        <div class="well home-static-content-container" data-ng-click="go('/dotnet')">
            <img class="home-static-content-img" src="../../content/img/netlogo.png"/>
        </div>
    </p>
</div>
<br />