﻿<h2>Top 10 greatest programmers</h2>
<p>A programmer is a person who can create and modify computer programs. No matter what type of programmer one may be, each and every contributes something to the society, no matter how trivial. Yet, there are those few who have contributed beyond what a single programmer usually does in an entire lifetime. These programmers are pioneers in their respective areas and have each contributed something that has completely changed the way human’s access information and media. So without further ado, here we present the 10 greatest programmers of all time:</p>
<ul>
    <li class="row list-undotted" data-ng-repeat="programmer in programmers">
            <div class="col-md-9 list-item-tappable" data-ng-click="go('/programmer/' + programmer.Id)">
                <h3>{{ programmer.Name}}</h3>
                <p>
                    {{ programmer.Description }}
                </p>
            </div>
            <div class="col-md-3 well list-content-container">
                <img class="list-content-img" src="../../content/img/{{ programmer.ImageUrl }}" />
            </div>
    </li>
</ul>
<br />
<br />