﻿<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8 well list-content-container">
        <img class="programmer-content-img" src="../../content/img/{{programmer.ImageUrl}}"/>
    </div>
    <div class="col-md-2">&nbsp;</div>
</div>
<h1>{{ programmer.Name }}</h1>
<p>{{ programmer.Description }}</p>
<br/>
<br/>